// Fonts
$main-font: "Varela Round", sans-serif;
$accent-font: "Leckerli One", cursive;

// Color themes
$accent-color: #ffb6b7;

// Page sizing
$navbar-height: 100px;

// Common styles
$shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);

// Breakpoints
$laptop-l: 1439px;
$laptop: 1023px;
$mobile: 767px;

// Z-Indices
$nav: 999;
