@use "@styles/constants";

#post {
    min-height: calc(100vh - constants.$navbar-height);
    padding: 64px;

    #post-container {
        background: white;
        max-width: 1200px;
        height: 100%;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
        padding: 32px 64px;
        position: relative;
        margin: 0 auto;

        #tape {
            position: absolute;
            background: rgba(255, 255, 235, 0.6);
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
            height: 60px;
            width: 200px;
            top: -30px;
            right: 50%;
            transform: translateX(50%);
        }

        #post-title {
            font-family: constants.$accent-font;
            font-size: 2.5rem;
            margin-bottom: 1rem;
            word-break: break-all;
        }

        #post-timestamp {
            font-family: constants.$accent-font;
            font-size: 1.5rem;
            margin-bottom: 4rem;
        }

        .post-text {
            font-size: 1rem;
            margin-bottom: 1rem;
            font-size: 1.2rem;
            font-family: constants.$main-font;
            text-indent: 80px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
