@use "@styles/constants";

#polaroid {
    background: white;
    padding: 30px;
    transform: rotate(-10deg);
    box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.3);
    position: relative;

    #tape {
        position: absolute;
        background: rgba(255, 255, 235, 0.6);
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
        height: 30px;
        width: 100px;
        top: 10px;
        right: -30px;
        transform: rotate(45deg);
        z-index: 2;
    }

    #polaroid-image {
        height: 360px;
        width: 360px;
    }

    #polaroid-caption {
        font-family: constants.$accent-font;
        font-size: 3rem;
        text-align: center;
        margin-top: 20px;
    }
}

@media screen and (max-width: constants.$mobile) {
    #polaroid {
        padding: 20px;

        #tape {
            height: 25px;
            width: 70px;
            right: -20px;
        }

        #polaroid-image {
            height: 280px;
            width: 280px;
        }

        #polaroid-caption {
            font-size: 2.4rem;
        }
    }
}
