@use "@styles/constants";

#blog {
    min-height: calc(100vh - constants.$navbar-height);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 32px;

    #blog-container {
        min-width: 350px;
        width: 80%;
        max-width: 1000px;
    }

    #control {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 32px;

        #page-num {
            font-family: constants.$accent-font;
            font-size: 2rem;
            color: constants.$accent-color;
            text-shadow: 2px 2px black;
        }

        #control-buttons {
            display: flex;

            .control-button {
                background: constants.$accent-color;
                color: black;
                border: none;
                border-radius: 4px;
                margin-right: 16px;
                display: flex;
                align-items: center;
                cursor: pointer;
                padding: 8px 16px;
                position: relative;

                .button-text {
                    font-family: constants.$main-font;
                    font-size: 1.2rem;
                    margin-left: 8px;
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    #posts {
        width: 100%;
        margin: 0 auto;
        display: block;

        .blog-post {
            margin-bottom: 32px;
        }
    }

    #nav-container {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .nav-button {
            font-family: constants.$main-font;
            font-size: 1.2rem;
            background: constants.$accent-color;
            color: black;
            border: none;
            border-radius: 4px;
            margin-right: 16px;
            cursor: pointer;
            padding: 8px 16px;
        }

        .hidden {
            opacity: 0;
        }
    }
}

@media screen and (max-width: constants.$laptop) {
    #blog > #blog-container > #control {
        justify-content: center;

        #page-num {
            display: none;
        }
    }
}

@media screen and (max-width: constants.$mobile) {
    #blog > #blog-container {
        #control > #control-buttons > .control-button > .button-text {
            font-size: 0.9rem;
        }

        #nav-container > .nav-button {
            font-size: 0.9rem;
        }
    }
}
