.edit-post-button {
    position: absolute;
    top: 45px;
    right: -10px;
    transform: translateX(100%);
    padding: 8px;
    border: none;
    background: rgb(26, 26, 248);
    cursor: pointer;
}
