@use "@styles/constants";

#search-bar {
    #search-input {
        font-family: constants.$main-font;
        font-size: 2rem;
        padding: 8px;
        width: 80%;
        border-radius: 0;
    }
}
